<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>XIO</title>
</head>
<body>

<div class="sec1">
    <nav class="sticky">
    <div class="top-nav">
      <a href=""><i style="font-size: 1.5rem;" color="black"; class="fa">&#xf0e0;</i></a>
      <a href=""><i style="font-size: 1.5rem;" class="fa">&#xf002;</i></a>
    </div>
  
            
        
        
            <div class="text1">
            <ul>
                <li><span><a href="index.html" alt="Homepage">XIO</a></span></li>
                
            </ul>
            </div>
            <div class="text2"><li><span><a href="default.asp">ALL POSTS</a></span></li></div>
            
        </nav>
    
    <header>
        <div id="header">
               <img src="./img/mountain-2601527.jpg"
               style="object-fit: cover;
               border-width: 100%;
               width: 100%;
               height:450px;
            
               "/>
           </div>   
       </header>    
</div>

<div class="sec2">
    <div class="Blog-Posts">
        <div class="bp-text"><h1>LATEST POSTS</h1></div>

   
    
        <div class="bp">
            <div class="bp-img">
                <img src="./img/coding.jpg"
                    alt="programm code">
            </div>
            <div class="bp-infos">
                <div class="bp-rm">
                </div>
                <h1 class="bp-title">Titel</h1>

                <a href="#" class="bp_cta">Read More &rarr;</a>
            </div>
        </div>

        <div class="bp">
            <div class="bp-img">
                <img src="./img/DALL·E 2023-01-28 19.00.09 - roboter spielt schach im weltall öl gemälde.png"
                    alt="">
            </div>
            <div class="bp-infos">
                <div class="bp-rm">
                </div>
                <h1 class="bp-title">Will Artifical Intelligence take our jobs?</h1>
                <a href="#" class="bp_cta">Read More &rarr;</a>
            </div>
        </div>

    </div>
</div>
                
              

    
</body>
</html>